.reports-panel {
  min-width: 780px;

  &__head {
    display: flex;
    padding: 8px 0;
  }

  &__body {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 0.9375rem;
    border: solid 1px $gray-lighter;
    background-color: $white;

    @include media-breakpoint-up(md) {
      box-shadow: 0 11px 21px 0 $gray-lighter;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      + div {
        border-left: 1px solid $gray-lighter;
      }
    }
  }

  &__head-device,
  &__body-device {
    padding: 8px 10px 8px 20px;

    @include media-breakpoint-up(lg) {
      padding-left: 35px;
    }
  }

  &__body-polls {

    h5 {
      margin: 0;
      font-size: inherit;
      font-weight: normal;
    }

    p {
      margin: 0;
      color: $blue;
    }
  }

  &__body-period {

    span {
      color: $orange;
    }
  }

  &__head-download,
  &__body-download {
    padding: 8px 20px 8px 20px;

    @include media-breakpoint-up(lg) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .col-4 {
    padding: 8px 10px 8px 20px;

    @include media-breakpoint-up(lg) {
      padding-left: 35px;
    }
  }

  .col-3 {
    padding: 8px 5px 8px 25px;

    @include media-breakpoint-up(lg) {
      padding-left: 85px;
    }
  }

  .col-1 {
    padding: 8px 20px 8px 20px
  }
}
