.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: $header-height-mobile;
  box-shadow: 0 11px 21px 0 $gray-lighter;
  border-bottom: 1px solid $border-color;
  background-color: $white;

  &__container {
    @include make-app-container(0);
    height: 100%;

    > .col {
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
    }
  }

  &__menu {

  }
}
